.marquee {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
  }
  
  .marquee span {
    display: inline-block;
    animation: marquee 15s linear infinite;
  }
  
  .card-hover {
    transition: transform 0.2s;
  }
  
  .card-hover:hover {
    transform: scale(1.05); 
    cursor: pointer;
  }
  


  @font-face {
    font-family: 'Avenir Next';
    src: url('../../assets/AvenirNextLTPro-Regular.otf') format('opentype');
    /* Add more formats for cross-browser compatibility if necessary */
    font-weight: normal;
    font-style: normal;
  }

  .font-avenir {
    font-family: 'Avenir Next', sans-serif;
  }
  
  
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }


  :root {
     /* Dark background color */
    --background-light: #f9f9f9; /* Light background color */
    --text-dark: #fff; /* Dark text color */
    --text-light: #000; /* Light text color */
  }
  
  .theme-dark {
    background-color: black;
    --text: var(--text-dark);
  }
  
  .theme-light {
    --background: var(--background-light);
    --text: var(--text-light);
  }
  
  body {
    background-color: #000;
    color: var(--text);
  }
  
  /* Define styles for your dark/light mode toggle button */
  .theme-toggle-button {
    padding: 10px 20px;
    background-color: #000; /* Background color for the button */
    color: #fff; /* Text color for the button */
    border: none;
    cursor: pointer;
  }
  
  /* Additional styles for the button on hover and focus */
  .theme-toggle-button:hover,
  .theme-toggle-button:focus {
    background-color: #333; /* Background color on hover/focus */
  }
  



  
  